<div >
    <nav  class="navbar navbar-expand-lg navbar-dark ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="#home">Home</a>
            <a class="nav-item nav-link" href="#about">About</a>
            <a class="nav-item nav-link" href="#primerBloque">Resume</a>
            <a class="nav-item nav-link" href="#works">Works</a>
            <a class="nav-item nav-link" href="#contacts">Contact</a>
            <a class="nav-item nav-link" href="#">Login</a>
          </div>
        </div>
      </nav>
</div>
