<body>
    <div id="about">
        <div class="sobreMi">
            <img src="../../assets/images/foto.svg" alt="">
            <div class="textoSobreMi">
                <h3>About me</h3>
                <p>
                    With great motivation, I am looking forward to starting work and being able to give the<br>
                    best of me in any project, while striving to work as a team and create camaraderie.
                </p>
            </div>
        </div>
        <div class="direccion">
            <div class="textDireccion">
                <p>Sergio Avila</p>
                <p>Av. Turia Nº 3</p>
                <p>(34) 637 611 134</p>
                <p>sergioavilachacon@gmail.com</p>
            </div>
            <div id="botonCv">
                <a download="cv.pdf" href="../../assets/cv.pdf">
                    <p>Cv</p>
                    <img src="../../assets/icons/dowload.svg" alt="Idowload">
                </a>
            </div>
        </div>
    </div>
</body>
