<body>

    <div id="primerBloque">
        <div id="education">
            <h2 >Education</h2>
            <hr>
        </div>
    
        <div id="educacion">
            <h3>Higher vocational training</h3>
            <hr>
            <p>Web applications development - ADA ITS <span class="fechaAda">- 2019/present</span></p>
            <p>
                Preparation to know how to work in a team, in an organized, clean and effective way. Use of GitHub and good practices with it.
                Technologies studied:
            </p>
            <ul>
                <li>Python</li>
                <li>Java</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Html</li>
                <li>Css</li>
                <li>Angular</li>
            </ul>
        </div>
    </div>

    <div id="skills">
        <h2>Skills</h2>
        <hr>
    </div>
    

</body>
