p, h3{
    color: black;
}

/* ====================== */

#primerBloque{
    display: flex;
    justify-content: center;
    justify-content: space-between;

    

    margin-left: 78px;
    margin-top: 66px;
}
#primerBloque h2{
    font-weight: 500;
    font-size: 36px;
    color:  rgba(95, 64, 6, 0.6);

    margin-bottom: 0px;
}

#education hr{
    margin-top: 0px;
    border: 5px solid;
    
    color:  #C4C4C4;
}
#education{
    margin-top: 0px;
    height: 445px;
    width: 160px;
}
/*         Educacion         */
/* ====================== */

#educacion{
    width: 965px;
    height: 314px;

    display: flex;
    flex-direction: column;
    float: right;

    margin-top: 25px;
    margin-right: 400px;
}
#educacion p{
    font-size: 18px;
}
#educacion li{
    font-size: 18px;
}
#educacion hr{
    margin-top: 0px;
    border: 1px solid;
}
#educacion h3{
    font-size: 30px;
}
.fechaAda{
    color: grey;
    font-style: italic;
}

/*     Skills    */
/* ============= */
#segundoBloque{
    display: flex;
    justify-content: center;
    justify-content: space-between;

    margin-left: 78px;
    margin-top: 30px;
}

#skills hr{
    width: 89px;
    margin-top: 0px;
    border: 5px solid;
    
    color:  #C4C4C4;
}
#skills h2{
    font-weight: 500;
    font-size: 36px;
    color:  rgba(95, 64, 6, 0.6);

    margin-bottom: 0px;
}
#softSkills{
    width: 965px;
    height: 314px;

    display: flex;
    flex-direction: column;
    float: right;

    margin-top: 25px;
    margin-right: 400px;
}
#softSkills h3{
    font-size: 30px;
}
#softSkills hr{
    margin-top: 0px;
    border: 1px solid;
}
#softSkills p{
    font-size: 18px;
}