#home {
  background-image: url("../../assets/images/fondoHome.png");
  background-size: cover;

  display: flex;
  flex-direction: column;
  
  align-items: center;
  height: 1024px;
}

#textoHome hr{
    border: 2px solid;
    color: white;
    width: 754px;
    height: 0px;
    margin-top: 30px;
}

#textoHome h1{
    
    text-align: center;
    font-weight: 900;
    font-size: 96px;
    

    margin-top: 350px;
    

    color: #FFFAFA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#textoHome p{
    text-align: center;
    font-weight: 900;
    font-size: 24px;
    
    margin-top: 61px;
    

    color: #FFFAFA;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#redeSocialesHome{
    display: flex;
    justify-content: center;
    
}

.iconSocial{
    list-style: none;
    margin-top: 20px;
}

.iconSocial li{
    display: inline;
}

.iconSocial li a> img{
    margin-right: 30px;
    margin-left: 30px;
}

@media only screen and (max-width: 900px){
    #home{

        height: 812px;
        width: 375px;
    }

    #textoHome h1{
        margin-top: 200px;
        font-size: 50px;
    }
    #textoHome p{

        margin-top: 30px;
        font-size: 14px;   
    }
    

    .iconSocial{
        margin-top: 5px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .iconSocial > li{
        margin-top: 25px;
    }
    .iconSocial img{
        width: 50%;
        height: 70%;
    }
}