<body>
    <div id="tecSkills">
        <h3>Technical Skills</h3>
        <hr>
        <ul id="listaTecnicas">
            <li><p>Java</p> <span class="medidorVacio" ><span class="medidorYeno" style=" width: 60%;"></span></span></li>
            <li><p>Html</p><span class="medidorVacio" ><span class="medidorYeno" style=" width: 70%;"></span></span></li>
            <li><p>Css</p><span class="medidorVacio" ><span class="medidorYeno" style="width: 65%;"></span></span></li>
            <li><p>JavaScript</p><span class="medidorVacio" ><span class="medidorYeno" style="width: 70%;"></span></span></li>
            <li><p>React</p><span class="medidorVacio" ><span class="medidorYeno" style="width: 65%"></span></span></li>
            <li><p>Angular</p><span class="medidorVacio" ><span class="medidorYeno" style="width: 60%;"></span></span></li>
        </ul>
    </div>
</body>
